<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>{{title}}</h1>

			<h2>Viewing '{{article.title}}'</h2>
			<div>{{article.text}}</div>

			<p>
				<a href="{{article.url}}" target="_blank">Visit website</a>
			</p>

			<p>
				<a href="/">Back</a> | <a href="/{{article.id}}/edit">Edit</a>
			</p>
		</div>
	</div>
</div>
